/*Собственные стили и украшения*/

/*Стили для первого операнда*/
#param1 {

}

/*Стили для второго операнда*/
#param2 {

}

/*Стили для выбора операции*/
#operation {
    /*TODO: Поле расположено справа;*/
	margin-left: 33%
}